orchy_project/db.sqlite3
*.pyc
orchy_project/*.pyc
orchy_project/orchy_project/*.pyc
orchy_project/api/*.pyc
orchy_project/api/media/img/
orchy_project/api/media/project_logo/
orchy_project/api/media/logo/
orchy_project/api/media/app_logo/
orchy_project/api/media/xml_files/
orchy_project/api/media/Evidence/
orchy_project/api/media/remedy_files/
orchy_project/api/media/.minio.sys/
orchy_project/api/media/storage/
orchy_project/api/migrations/*
orchy_project/extra/
orchy_project/demo_cache.sqlite


